    @media (max-width: 700px) {
        .background-img {
            margin-top: 300px;
        }
    }
    @media (max-width: 700px) {
        .left-image {
            margin-top: 175px;
        }
    }
    @media (max-width: 700px) {
        .title-hobbies {
            margin-top: 300px;
        }
    }
    @media (max-width: 700px) {
        .title-contact {
            margin-top: 300px;
        }
    }
        @media (max-width: 700px) {
        .sidebar-profile {
            margin-top: 4.5vw;
        }
    }
    html {
        scroll-behavior: smooth;
    }
    body{
        display: block; 
        margin: 0;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-family: Arial, sans-serif;
        overflow-x: hidden;
        overflow-y: auto;
    }  
    hr {
        color: #111;
    }
    .background-img {
        margin-left: 5vw;
        width: 73vw;
    }
    .w3-sidebar {
        z-index: 2;
        text-align: center;
        align-items: center;
        width: 17.1vw;
        background-color: #111;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        overflow: hidden;
    }
    .w3-sidebar a {
        display: block;
        color: white;
        padding: 2vw;
        text-decoration: none;  
        font-size: 15px;
        }
    .w3-sidebar a:hover {
        background-color: #575757;
        color: white;
    }
    .w3-sidebar img {
        margin-bottom: 20px;
    }
    .main-content {
        margin-left: 18vw;
        padding: 20px;
    }
    .sidebar-profile {
        text-align: center;
    }
    .sidebar-profile img {
        margin: 0.5vw 0.5vw;
        display: block;
        width: 16vw;
        height: 16vw;
        object-fit: cover;
        }
    .w3-top {
        display: none;
    }
    .nav-icon {
        width: 40px;
        display: block;
        margin: 0 auto 5px;
    }
    .section {
        position: relative; 
        display: block;
        width: 82.9vw;
        margin-left: 17.1vw;
        min-height: 100vh;
        opacity: 1;
    }
    :target {
        opacity: 1;
        pointer-events: auto;
    }
    body:not(:has(:target)) #home {
        opacity: 1;
    }
    .welcome-text {
        margin-bottom: 10px;
        color: rgb(0, 0, 0);
        text-align: left;
        width: 87%;
    }
    .intro-name {
        margin: 0;
        font-size: 70px;
        font-weight: 700;
    }
    .intro-sub {
        margin-top: 5px;
        font-size: 70px;
        opacity: 0.5;
    }
    * {
        margin: 0;
        padding: 0;
    }
    .left-image {
        align-items: center;
        text-align: justify;
        max-width: 90%;
    }
    .left-image img {  
        width: 50%;
        margin-left: 23vw;
        margin-top: 5vw;
    }
    .title-about { 
        margin-left: 8vw;
        color:rgb(49,49,49);
    }
    .title-about h2 {
        text-align: center;
        font-size: 4vw;
    }
    .title-about p {
        font-family: 'Courier New', Courier, monospace;
        text-align: justify;
        font-size: 3vw;
        margin-bottom: 10vw;
    }
    .title-hobbies {
        color:rgb(49,49,49)  
    }
    .title-hobbies h2 {
        font-size: 4vw;
        margin-top: 5vw;
        text-align: center;
    }
    ul {
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        list-style-position: inside;
        font-size: 4vw;
        margin-bottom: 5vw;
    }
    .title-contact {
        color: rgb(49,49,49);
    }
    .title-contact h2 {
        margin-top: 5vw;
        font-size: 4vw;
        text-align: center;
    }
    .contact-icons {
        display: block;
        margin: 0 auto 5px;
    }
    .contact-icons img {
        margin-left: 47%;
        width: 5vw;
    }
    .contact-icons p {
        font-family: 'Courier New', Courier, monospace;
        font-size: 3vw;
        text-align: center;
    }